
<div class="row  justify-content-around rounded-3 m-1">
  <h1>Product List</h1>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
    <div class="card p-0 my-2" style="width: 30%; border-width: 0; background-color: rgba(255, 255, 255, .7);">
      <img src="..." class="card-img-top" style="border-radius: 2px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">Go somewhere</a>
    </div>
</div>