

<div  class="row  justify-content-around m-1 mFont" style="background-color:rgba(255, 255, 255, .8); border-radius: 6px; border-color: #6d6d6d; border-style: solid; border-width: 1px; box-shadow: 0px 0px 12px #ffffff;">
  
  <ng-template #noProduct>
    <h2>No Product</h2>
  </ng-template>

  <div *ngIf="productList.length>=1 else noProduct" class="row  justify-content-around m-1 mFont text-white">
    
    <div *ngFor="let product of productList" class="card p-0 my-4" style="width: 23%;border-width: 0; background-color: rgba(255, 255, 255, .7);">
      
        <img src="{{imgFolderUrl}}{{product.image}}" height="100%" class="card-img-top" style="border-radius: 2px;" alt="...">
        <p class="w-100 text-end" style="top:0;position: absolute;margin: 0;background-color:rgba(0, 0, 0, .6)">{{product.price | currency:'USD':true}}</p>
      
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">{{product.name}}</a>
    </div>
    

  </div>
    
    
</div>