<div class="justify-content-center mx-auto" style="background-color:rgba(255, 255, 255, .8); border-radius: 6px; border-color: #6d6d6d; border-style: solid; border-width: 1px; box-shadow: 0px 0px 12px #ffffff;width: fit-content; ">

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-group form-signin text-end col-md-5 myAlertCont pb-0">
      <div class="text-center mb-4">
        <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 my-3 font-weight-normal">Login</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam.</p>
      </div>
  
      <div class="form-label-group mb-0">
        <input formControlName="mail" type="email" id="inputEmail" class="form-control" placeholder="Mail address">
        <label for="inputEmail">Mail address</label>
      </div>
      <span *ngIf="loginForm.get('mail')!.hasError('required') && submitted">Mail address is required.</span>
      <span *ngIf="loginForm.get('mail')!.hasError('email')">Mail address is not valid.</span>

  
      <div class="form-label-group mt-2 mb-0">
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
        <label for="inputPassword">Password</label>
      </div>
      <span  *ngIf="loginForm.get('password')!.hasError('required') && submitted">Password address is required.</span>
      <span  *ngIf="loginForm.get('password')!.hasError('minlength')">Password must be longer than 6 chars.</span>
      <span  *ngIf="loginForm.get('password')!.hasError('maxlength')">Password must be shorter than 20 chars.</span>
      <span  *ngIf="loginForm.get('password')!.hasError('pattern')">Password is not alphanumeric.</span>
  
      <div class="checkbox my-3">
        <label>
          <input type="checkbox" (change)="rememberMeChange()"> Remember me
        </label>
      </div>
      <button class="btn btn-primary btn-block mx-auto w-100 my-1" type="submit">Login</button>
      
    </form>

    
    <button (click)="checkToken()" class="btn btn-primary btn-block mx-auto w-100 my-1">CHECK</button>
    <button (click)="logout()" class="btn btn-primary btn-block mx-auto w-100 my-1">LOGOUT</button>


    <div class="form-group form-signin text-end col-md-5 pt-0">
      <p class="mt-2 mb-0">Don't you have an account?</p>
      <button class="mt-0 btn btn-light btn-outline-dark btn-block mx-auto w-100" [routerLink]="'register'">Register</button>
      <p class="mt-4 mb-1 text-muted text-center">&copy; 2022-2023</p>
    </div>
</div>
