
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="transition: all 6s ease-in-out;" data-bs-interval="6000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#000"/>
          <image xlink:href="/assets/1.jpg" x="0" y="0" height="100%" width="100%"/>
      </svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item " style="transition: all 6s ease-in-out;" data-bs-interval="6000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#000"/>
          <image xlink:href="/assets/5.jpg" x="0" y="0" height="100%" width="100%"/>
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item " style="transition: all 6s ease-in-out;" data-bs-interval="6000">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#000"/>
          <image xlink:href="/assets/2.jpg" x="0" y="0" height="100%" width="100%"/>
      </svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div  class="justify-content-around m-1 mFont" style="background-color:rgba(255, 255, 255, .8); border-radius: 6px; border-color: #6d6d6d; border-style: solid; border-width: 1px; box-shadow: 0px 0px 12px #ffffff;">
  
  <ng-template #noProduct>
    <h2>No Product</h2>
  </ng-template>

  <div *ngIf="productList.length>=1 else noProduct" class="row justify-content-around m-1 mFont text-white">
    
    <div *ngFor="let product of productList" class="card p-0 my-4" style="width: 20rem;border-width: 0; background-color: rgba(255, 255, 255, .7);">
      
        <img src="{{imgFolderUrl}}{{product.image}}" height="100%" class="card-img-top" style="border-radius: 2px;" alt="...">
        <p class="w-100 text-end" style="top:0;position: absolute;margin: 0;background-color:rgba(0, 0, 0, .6)">{{product.price | currency:'USD':true}}</p>
      
      <a href="#" class="btn btn-dark d-block m-0" style="border-radius: 0px 0px 2px 2px !important;">{{product.name}}</a>
    </div>
    

  </div>
    
    
</div>