/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
    height: 2000px !important;
    background-color: black;
    background-image: url('/assets/back.jpg');
    background-size: contain;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    filter: contrast(1.1) !important;
}

.mFont{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2rem;
}